In [78]:
# Dependencies
%matplotlib inline
import matplotlib.pyplot as plt
from bs4 import BeautifulSoup
import requests
from splinter import Browser
import time
import pandas as pd

In [79]:
#Create dictionary which we will use to acquire state abbrevation strings
#The value of this dictionary is mainly to provide us with the reverse dictionary which we create later
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
}
#create extra key value pairs for DC and PR
us_state_abbrev['Washington, DC'] = 'DC'
us_state_abbrev['Puerto Rico'] = 'PR'

In [80]:
#Create a reverse of the State abbrevation dictionary which we will use to convert abbrevations to State values 
reverse_us_state_abbrev = {}
for key, val in us_state_abbrev.items():
    reverse_us_state_abbrev[val] = key

In [81]:
ann_home_df = pd.read_csv("dataframes/annual_homelessness.csv")

In [82]:
ann_home_df.head()

,Unnamed: 0,state,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007
0,0,AK,2016,1845,1940,1956,1784,1946,1913,2128,1863,1992,1646,1642
1,1,AL,3434,3793,4111,3970,4561,4689,5209,5558,6046,6080,5387,5452
2,2,AR,2712,2467,2463,2560,2936,3812,4214,3424,2762,2852,3255,3836
3,3,AZ,9865,8947,9707,9896,10495,10562,11302,10504,13711,14721,12488,14646
4,4,CA,129972,131532,118142,115738,113952,118552,120098,125128,123480,123678,136531,138986

In [83]:
#Create an empty list to append the full state names
fullState = []

#use the reverse dictionary to acquire full state names from the abbreviations 
for state in ann_home_df['state']:
    fullState.append(reverse_us_state_abbrev[state])

In [84]:
ann_home_df['State'] = fullState

In [85]:
ann_home_df.head()

,Unnamed: 0,state,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,State
0,0,AK,2016,1845,1940,1956,1784,1946,1913,2128,1863,1992,1646,1642,Alaska
1,1,AL,3434,3793,4111,3970,4561,4689,5209,5558,6046,6080,5387,5452,Alabama
2,2,AR,2712,2467,2463,2560,2936,3812,4214,3424,2762,2852,3255,3836,Arkansas
3,3,AZ,9865,8947,9707,9896,10495,10562,11302,10504,13711,14721,12488,14646,Arizona
4,4,CA,129972,131532,118142,115738,113952,118552,120098,125128,123480,123678,136531,138986,California

In [86]:
""" export data into json format... list of lists with two items for each year. read data into js using js dictionaries. after reading into js use plotly to plot each """

' export data into json format... list of lists with two items for each year. read data into js using js dictionaries. after reading into js use plotly to plot each '

In [87]:
Population_df = pd.read_csv("dataframes/State_Population.csv")

In [88]:
Population_df.head()

,STATE,2010,2011,2012,2013,2014,2015,2016,2017
0,Alabama,4712651.0,4747424.0,4777326.0,4799277.0,4817678.0,4830620.0,4841164.0,4850771.0
1,Alaska,691189.0,700703.0,711139.0,720316.0,728300.0,733375.0,736855.0,738565.0
2,Arizona,6246816.0,6337373.0,6410979.0,6479703.0,6561516.0,6641928.0,6728577.0,6809946.0
3,Arkansas,2872684.0,2895928.0,2916372.0,2933369.0,2947036.0,2958208.0,2968472.0,2977944.0
4,California,36637290.0,36969200.0,37325068.0,37659181.0,38066920.0,38421464.0,38654206.0,38982847.0

In [89]:
Yearlist = Population_df.columns[1:]

In [90]:
for t in Population_df.columns[1:]:
    Population_df = Population_df.rename(columns={t: t + ' Population'})
    
# Rename state column
re_Population_df = Population_df.rename(columns={'STATE':'State'})

In [91]:
re_Population_df.head()

,State,2010 Population,2011 Population,2012 Population,2013 Population,2014 Population,2015 Population,2016 Population,2017 Population
0,Alabama,4712651.0,4747424.0,4777326.0,4799277.0,4817678.0,4830620.0,4841164.0,4850771.0
1,Alaska,691189.0,700703.0,711139.0,720316.0,728300.0,733375.0,736855.0,738565.0
2,Arizona,6246816.0,6337373.0,6410979.0,6479703.0,6561516.0,6641928.0,6728577.0,6809946.0
3,Arkansas,2872684.0,2895928.0,2916372.0,2933369.0,2947036.0,2958208.0,2968472.0,2977944.0
4,California,36637290.0,36969200.0,37325068.0,37659181.0,38066920.0,38421464.0,38654206.0,38982847.0

In [92]:
merged_homeless_df = pd.merge(re_Population_df, ann_home_df, on='State')
merged_homeless_df.head()

,State,2010 Population,2011 Population,2012 Population,2013 Population,2014 Population,2015 Population,2016 Population,2017 Population,Unnamed: 0,...,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007
0,Alabama,4712651.0,4747424.0,4777326.0,4799277.0,4817678.0,4830620.0,4841164.0,4850771.0,1,...,4111,3970,4561,4689,5209,5558,6046,6080,5387,5452
1,Alaska,691189.0,700703.0,711139.0,720316.0,728300.0,733375.0,736855.0,738565.0,0,...,1940,1956,1784,1946,1913,2128,1863,1992,1646,1642
2,Arizona,6246816.0,6337373.0,6410979.0,6479703.0,6561516.0,6641928.0,6728577.0,6809946.0,3,...,9707,9896,10495,10562,11302,10504,13711,14721,12488,14646
3,Arkansas,2872684.0,2895928.0,2916372.0,2933369.0,2947036.0,2958208.0,2968472.0,2977944.0,2,...,2463,2560,2936,3812,4214,3424,2762,2852,3255,3836
4,California,36637290.0,36969200.0,37325068.0,37659181.0,38066920.0,38421464.0,38654206.0,38982847.0,4,...,118142,115738,113952,118552,120098,125128,123480,123678,136531,138986

In [93]:
for year in Yearlist:
    merged_homeless_df['homelessnessPercentage{}'.format(year)] = (merged_homeless_df[year] / merged_homeless_df[year + ' Population']) * 100

In [94]:
merged_homeless_df.head()

,State,2010 Population,2011 Population,2012 Population,2013 Population,2014 Population,2015 Population,2016 Population,2017 Population,Unnamed: 0,...,2008,2007,homelessnessPercentage2010,homelessnessPercentage2011,homelessnessPercentage2012,homelessnessPercentage2013,homelessnessPercentage2014,homelessnessPercentage2015,homelessnessPercentage2016,homelessnessPercentage2017
0,Alabama,4712651.0,4747424.0,4777326.0,4799277.0,4817678.0,4830620.0,4841164.0,4850771.0,1,...,5387,5452,0.128293,0.117074,0.109036,0.097702,0.094672,0.082184,0.084918,0.078194
1,Alaska,691189.0,700703.0,711139.0,720316.0,728300.0,733375.0,736855.0,738565.0,0,...,1646,1642,0.269536,0.303695,0.269005,0.270159,0.244954,0.266712,0.263281,0.249809
2,Arizona,6246816.0,6337373.0,6410979.0,6479703.0,6561516.0,6641928.0,6728577.0,6809946.0,3,...,12488,14646,0.219488,0.165747,0.176291,0.163001,0.159948,0.148993,0.144265,0.131381
3,Arkansas,2872684.0,2895928.0,2916372.0,2933369.0,2947036.0,2958208.0,2968472.0,2977944.0,2,...,3255,3836,0.096147,0.118235,0.144495,0.129953,0.099626,0.086539,0.082972,0.082842
4,California,36637290.0,36969200.0,37325068.0,37659181.0,38066920.0,38421464.0,38654206.0,38982847.0,4,...,136531,138986,0.337034,0.338466,0.321762,0.314802,0.299347,0.301233,0.305638,0.337410

In [95]:
home_percentage_df = merged_homeless_df[['State', 'homelessnessPercentage2010', 'homelessnessPercentage2011', 'homelessnessPercentage2012',
                                        'homelessnessPercentage2013', 'homelessnessPercentage2014', 'homelessnessPercentage2015',
                                        'homelessnessPercentage2016', 'homelessnessPercentage2017']]

In [96]:
home_percentage_df.head()

,State,homelessnessPercentage2010,homelessnessPercentage2011,homelessnessPercentage2012,homelessnessPercentage2013,homelessnessPercentage2014,homelessnessPercentage2015,homelessnessPercentage2016,homelessnessPercentage2017
0,Alabama,0.128293,0.117074,0.109036,0.097702,0.094672,0.082184,0.084918,0.078194
1,Alaska,0.269536,0.303695,0.269005,0.270159,0.244954,0.266712,0.263281,0.249809
2,Arizona,0.219488,0.165747,0.176291,0.163001,0.159948,0.148993,0.144265,0.131381
3,Arkansas,0.096147,0.118235,0.144495,0.129953,0.099626,0.086539,0.082972,0.082842
4,California,0.337034,0.338466,0.321762,0.314802,0.299347,0.301233,0.305638,0.337410

In [97]:
home_percentage_df.to_csv("dataframes/Homeless_Percentage_by_Year.csv", header=True)

PermissionError: [Errno 13] Permission denied: 'dataframes/Homeless_Percentage_by_Year.csv'

In [98]:
# Read csv containing median household prices for each state by year
median_hs_pr_df = pd.read_csv("../Desthy/Dataframes/State_MedianListingPrice_AllHomes.csv") 
median_hs = median_hs_pr_df.rename(columns={'State':'RegionName', 'State Full Name':'State'})

In [99]:
median_hs.head()

,RegionName,State,SizeRank,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,CA,California,1,331354.1667,296987.5000,308158.8333,390208.2500,418516.6667,440640.6667,479724.9167,500381.4583,527849.1667,533111.25
1,TX,Texas,2,171324.5833,168918.6667,172219.1667,187101.3333,212438.3333,245033.0833,255709.7500,268202.7917,275731.6667,278067.50
2,NY,New York,3,345016.5833,317552.0000,306182.5000,305825.0000,324191.5833,330624.3333,340693.0417,352726.0417,387716.6667,414725.00
3,FL,Florida,4,187158.3333,175891.5833,179162.5000,198024.1667,215341.6667,236499.0000,259156.6667,279908.7500,291312.1667,295975.00
4,IL,Illinois,5,204158.3333,176166.6667,159783.3333,164489.5833,180408.3333,192858.3333,202632.3333,215231.2500,228915.8333,235975.00

In [100]:
Yearlist2 = median_hs.columns[3:]

In [101]:
for year in Yearlist2:
    median_hs = median_hs.rename(columns={'{}'.format(year): 'medianHousePrice{}'.format(year)})

In [102]:
median_hs.head()

,RegionName,State,SizeRank,medianHousePrice2010,medianHousePrice2011,medianHousePrice2012,medianHousePrice2013,medianHousePrice2014,medianHousePrice2015,medianHousePrice2016,medianHousePrice2017,medianHousePrice2018,medianHousePrice2019
0,CA,California,1,331354.1667,296987.5000,308158.8333,390208.2500,418516.6667,440640.6667,479724.9167,500381.4583,527849.1667,533111.25
1,TX,Texas,2,171324.5833,168918.6667,172219.1667,187101.3333,212438.3333,245033.0833,255709.7500,268202.7917,275731.6667,278067.50
2,NY,New York,3,345016.5833,317552.0000,306182.5000,305825.0000,324191.5833,330624.3333,340693.0417,352726.0417,387716.6667,414725.00
3,FL,Florida,4,187158.3333,175891.5833,179162.5000,198024.1667,215341.6667,236499.0000,259156.6667,279908.7500,291312.1667,295975.00
4,IL,Illinois,5,204158.3333,176166.6667,159783.3333,164489.5833,180408.3333,192858.3333,202632.3333,215231.2500,228915.8333,235975.00

In [103]:
median_data = median_hs[['State', 'medianHousePrice2010', 'medianHousePrice2011', 'medianHousePrice2012',
                                        'medianHousePrice2013', 'medianHousePrice2014', 'medianHousePrice2015',
                                        'medianHousePrice2016', 'medianHousePrice2017']]

In [104]:
median_data.head()

,State,medianHousePrice2010,medianHousePrice2011,medianHousePrice2012,medianHousePrice2013,medianHousePrice2014,medianHousePrice2015,medianHousePrice2016,medianHousePrice2017
0,California,331354.1667,296987.5000,308158.8333,390208.2500,418516.6667,440640.6667,479724.9167,500381.4583
1,Texas,171324.5833,168918.6667,172219.1667,187101.3333,212438.3333,245033.0833,255709.7500,268202.7917
2,New York,345016.5833,317552.0000,306182.5000,305825.0000,324191.5833,330624.3333,340693.0417,352726.0417
3,Florida,187158.3333,175891.5833,179162.5000,198024.1667,215341.6667,236499.0000,259156.6667,279908.7500
4,Illinois,204158.3333,176166.6667,159783.3333,164489.5833,180408.3333,192858.3333,202632.3333,215231.2500

In [105]:
median_data.to_csv("dataframes/Median_House_Price_by_Year.csv", header=True)

In [106]:
Price_to_Homelessness_df = pd.merge(median_data, home_percentage_df, on='State')
Price_to_Homelessness_df.head()

,State,medianHousePrice2010,medianHousePrice2011,medianHousePrice2012,medianHousePrice2013,medianHousePrice2014,medianHousePrice2015,medianHousePrice2016,medianHousePrice2017,homelessnessPercentage2010,homelessnessPercentage2011,homelessnessPercentage2012,homelessnessPercentage2013,homelessnessPercentage2014,homelessnessPercentage2015,homelessnessPercentage2016,homelessnessPercentage2017
0,California,331354.1667,296987.5000,308158.8333,390208.2500,418516.6667,440640.6667,479724.9167,500381.4583,0.337034,0.338466,0.321762,0.314802,0.299347,0.301233,0.305638,0.337410
1,Texas,171324.5833,168918.6667,172219.1667,187101.3333,212438.3333,245033.0833,255709.7500,268202.7917,0.144460,0.148990,0.135079,0.115506,0.109210,0.089221,0.085775,0.085880
2,New York,345016.5833,317552.0000,306182.5000,305825.0000,324191.5833,330624.3333,340693.0417,352726.0417,0.341169,0.328689,0.358622,0.397341,0.411292,0.448580,0.438392,0.452076
3,Florida,187158.3333,175891.5833,179162.5000,198024.1667,215341.6667,236499.0000,259156.6667,279908.7500,0.310891,0.303321,0.292134,0.250702,0.214557,0.182737,0.168347,0.158740
4,Illinois,204158.3333,176166.6667,159783.3333,164489.5833,180408.3333,192858.3333,202632.3333,215231.2500,0.112943,0.109529,0.110294,0.104486,0.101851,0.102355,0.090183,0.084002

In [107]:
Price_to_Homelessness_df.to_csv("dataframes/Price_to_Homelessness.csv", header=True)

In [120]:
Unemployment_df = pd.read_csv("../Desthy/Dataframes/Annual_Average_Unemployment_Rates_By_State.csv")
Unemployment_df.head()

,State,State Full Name,Continental US,2018,2017,2016,2015,2014,2013,2012,...,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000
0,United State,United States,Yes,3.9,4.4,4.9,5.3,6.2,7.4,8.1,...,9.3,5.8,4.6,4.6,5.1,5.5,6.0,5.8,4.7,4.0
1,AL,Alabama,Yes,3.9,4.4,5.8,6.1,6.8,7.2,8.0,...,11.0,5.7,4.0,4.0,4.5,5.7,6.0,5.9,5.1,4.6
2,AK,Alaska,Yes,6.6,7.0,6.9,6.5,6.9,7.0,7.1,...,7.7,6.7,6.3,6.6,6.9,7.5,7.8,7.3,6.4,6.4
3,AZ,Arizona,Yes,4.8,4.9,5.4,6.1,6.8,7.7,8.3,...,9.9,6.2,3.9,4.2,4.7,5.0,5.7,6.1,4.8,4.0
4,AR,Arkansas,Yes,3.7,3.7,4.0,5.0,6.0,7.2,7.6,...,7.8,5.5,5.3,5.2,5.2,5.7,5.9,5.5,5.0,4.3

In [121]:
for year in Yearlist:
    Unemployment_df = Unemployment_df.rename(columns={'{}'.format(year): 'unemployementRate{}'.format(year)})

In [122]:
Unemployment_df.head()

,State,State Full Name,Continental US,2018,unemployementRate2017,unemployementRate2016,unemployementRate2015,unemployementRate2014,unemployementRate2013,unemployementRate2012,...,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000
0,United State,United States,Yes,3.9,4.4,4.9,5.3,6.2,7.4,8.1,...,9.3,5.8,4.6,4.6,5.1,5.5,6.0,5.8,4.7,4.0
1,AL,Alabama,Yes,3.9,4.4,5.8,6.1,6.8,7.2,8.0,...,11.0,5.7,4.0,4.0,4.5,5.7,6.0,5.9,5.1,4.6
2,AK,Alaska,Yes,6.6,7.0,6.9,6.5,6.9,7.0,7.1,...,7.7,6.7,6.3,6.6,6.9,7.5,7.8,7.3,6.4,6.4
3,AZ,Arizona,Yes,4.8,4.9,5.4,6.1,6.8,7.7,8.3,...,9.9,6.2,3.9,4.2,4.7,5.0,5.7,6.1,4.8,4.0
4,AR,Arkansas,Yes,3.7,3.7,4.0,5.0,6.0,7.2,7.6,...,7.8,5.5,5.3,5.2,5.2,5.7,5.9,5.5,5.0,4.3

In [123]:
Yearlist

Index(['2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017'], dtype='object')

In [127]:
new_unemploy_df = Unemployment_df[['State Full Name','unemployementRate2010', 'unemployementRate2011', 'unemployementRate2012', 'unemployementRate2013', 'unemployementRate2014', 'unemployementRate2015', 'unemployementRate2016', 'unemployementRate2017']]
new_unemploy_df = new_unemploy_df.rename(columns={'State Full Name': 'State'})

In [128]:
new_unemploy_df.head()

,State,unemployementRate2010,unemployementRate2011,unemployementRate2012,unemployementRate2013,unemployementRate2014,unemployementRate2015,unemployementRate2016,unemployementRate2017
0,United States,9.6,8.9,8.1,7.4,6.2,5.3,4.9,4.4
1,Alabama,10.5,9.6,8.0,7.2,6.8,6.1,5.8,4.4
2,Alaska,7.9,7.6,7.1,7.0,6.9,6.5,6.9,7.0
3,Arizona,10.4,9.5,8.3,7.7,6.8,6.1,5.4,4.9
4,Arkansas,8.2,8.3,7.6,7.2,6.0,5.0,4.0,3.7

In [129]:
employment_vs_homeless = pd.merge(home_percentage_df, new_unemploy_df, on='State')

In [134]:
employment_vs_homeless

,State,homelessnessPercentage2010,homelessnessPercentage2011,homelessnessPercentage2012,homelessnessPercentage2013,homelessnessPercentage2014,homelessnessPercentage2015,homelessnessPercentage2016,homelessnessPercentage2017,unemployementRate2010,unemployementRate2011,unemployementRate2012,unemployementRate2013,unemployementRate2014,unemployementRate2015,unemployementRate2016,unemployementRate2017
0,Alabama,0.128293,0.117074,0.109036,0.097702,0.094672,0.082184,0.084918,0.078194,10.5,9.6,8.0,7.2,6.8,6.1,5.8,4.4
1,Alaska,0.269536,0.303695,0.269005,0.270159,0.244954,0.266712,0.263281,0.249809,7.9,7.6,7.1,7.0,6.9,6.5,6.9,7.0
2,Arizona,0.219488,0.165747,0.176291,0.163001,0.159948,0.148993,0.144265,0.131381,10.4,9.5,8.3,7.7,6.8,6.1,5.4,4.9
3,Arkansas,0.096147,0.118235,0.144495,0.129953,0.099626,0.086539,0.082972,0.082842,8.2,8.3,7.6,7.2,6.0,5.0,4.0,3.7
4,California,0.337034,0.338466,0.321762,0.314802,0.299347,0.301233,0.305638,0.337410,12.2,11.7,10.4,8.9,7.5,6.2,5.5,4.8
5,Colorado,0.316796,0.304386,0.332510,0.190533,0.192936,0.188543,0.196854,0.201232,8.7,8.4,7.9,6.9,5.0,3.9,3.2,2.7
6,Connecticut,0.121720,0.125233,0.117826,0.124122,0.123885,0.112629,0.108734,0.094256,9.1,8.8,8.3,7.8,6.6,5.7,5.1,4.7
7,Delaware,0.111429,0.116180,0.111984,0.104134,0.098249,0.102865,0.114476,0.105327,8.4,7.5,7.2,6.7,5.7,4.9,4.5,4.5
8,Florida,0.310891,0.303321,0.292134,0.250702,0.214557,0.182737,0.168347,0.158740,11.1,10.0,8.5,7.2,6.3,5.5,4.8,4.2
9,Georgia,0.209488,0.218476,0.211188,0.172990,0.166748,0.137808,0.127820,0.099729,10.5,10.2,9.2,8.2,7.1,6.0,5.4,4.7
10,Hawaii,0.437465,0.459543,0.458345,0.460293,0.496732,0.541848,0.560313,0.507858,6.9,6.8,6.0,4.9,4.4,3.6,3.0,2.4
11,Idaho,0.153655,0.141872,0.125526,0.112482,0.131544,0.121617,0.137391,0.122905,9.0,8.3,7.2,6.1,4.8,4.2,3.8,3.2
12,Illinois,0.112943,0.109529,0.110294,0.104486,0.101851,0.102355,0.090183,0.084002,10.4,9.7,9.0,9.0,7.1,6.0,5.8,4.9
13,Indiana,0.100539,0.095999,0.096507,0.093571,0.091266,0.089257,0.087987,0.082214,10.4,9.1,8.3,7.7,6.0,4.8,4.4,3.6
14,Iowa,0.099925,0.103355,0.096074,0.100700,0.101426,0.099595,0.098629,0.088387,6.0,5.5,5.0,4.7,4.2,3.8,3.6,3.1
15,Kansas,0.072046,0.088697,0.094136,0.093895,0.096533,0.089458,0.077804,0.078758,7.1,6.5,5.7,5.3,4.5,4.2,4.0,3.7
16,Kentucky,0.154533,0.139804,0.120502,0.120261,0.116100,0.103198,0.096034,0.090973,10.2,9.4,8.2,8.0,6.5,5.3,5.1,4.9
17,Louisiana,0.281765,0.207176,0.171582,0.114405,0.100108,0.088233,0.085973,0.070870,8.0,7.8,7.1,6.7,6.4,6.3,6.1,5.1
18,Maine,0.179187,0.184187,0.180049,0.227054,0.205188,0.178467,0.168506,0.171408,8.1,7.9,7.5,6.6,5.6,4.4,3.8,3.4
19,Maryland,0.190383,0.177947,0.163409,0.140634,0.133429,0.141471,0.129012,0.120862,7.7,7.2,7.0,6.6,5.8,5.1,4.5,4.3
20,Massachusetts,0.256998,0.255888,0.266759,0.288097,0.319004,0.315185,0.290827,0.258715,8.3,7.3,6.7,6.7,5.7,4.8,3.9,3.8
21,Michigan,0.131201,0.132905,0.127227,0.116598,0.123642,0.106216,0.094010,0.091189,12.6,10.4,9.1,8.8,7.2,5.4,5.0,4.6
22,Minnesota,0.150117,0.141999,0.145753,0.153598,0.155600,0.139246,0.134676,0.139654,7.4,6.5,5.6,5.0,4.2,3.7,3.9,3.4
23,Mississippi,0.093236,0.077992,0.081311,0.080722,0.074589,0.066364,0.058143,0.049293,10.4,10.0,9.0,8.5,7.5,6.4,5.8,5.1
24,Missouri,0.137142,0.150928,0.171118,0.142846,0.120801,0.107221,0.102217,0.099370,9.6,8.5,6.9,6.7,6.1,5.0,4.6,3.8
25,Montana,0.165856,0.179884,0.185005,0.188072,0.173395,0.168424,0.138559,0.148466,7.3,6.9,6.0,5.4,4.7,4.2,4.1,3.9
26,Nebraska,0.215494,0.195691,0.207354,0.170773,0.163072,0.146788,0.146391,0.132054,4.6,4.4,4.0,3.8,3.3,3.0,3.1,2.9
27,Nevada,0.425507,0.342261,0.314214,0.257833,0.310764,0.312402,0.260569,0.271252,13.5,13.0,11.2,9.6,7.9,6.8,5.7,5.1
28,New Hampshire,0.119792,0.111634,0.113551,0.109690,0.104158,0.109122,0.102900,0.109322,5.8,5.4,5.5,5.1,4.3,3.4,2.9,2.7
29,New Jersey,0.157506,0.161509,0.148114,0.135886,0.131514,0.113404,0.099771,0.095266,9.5,9.3,9.3,8.2,6.8,5.8,5.0,4.6
30,New Mexico,0.172617,0.176768,0.157885,0.136203,0.132014,0.126145,0.108659,0.119051,8.1,7.5,7.1,6.9,6.7,6.5,6.6,5.9
31,New York,0.341169,0.328689,0.358622,0.397341,0.411292,0.448580,0.438392,0.452076,8.6,8.3,8.5,7.7,6.3,5.3,4.9,4.7
32,North Carolina,0.131494,0.136919,0.141698,0.126075,0.117852,0.108529,0.096159,0.089151,10.9,10.3,9.3,8.0,6.3,5.7,5.1,4.5
33,North Dakota,0.121087,0.090434,0.101737,0.299950,0.178459,0.180838,0.125380,0.146081,3.8,3.5,3.1,2.9,2.7,2.8,3.1,2.7
34,Ohio,0.109178,0.113053,0.121185,0.106714,0.102272,0.096597,0.089791,0.086953,10.3,8.8,7.4,7.5,5.8,4.9,5.0,5.0
35,Oklahoma,0.142273,0.124511,0.134222,0.116437,0.109745,0.098111,0.105971,0.107770,6.8,5.9,5.2,5.3,4.5,4.4,4.8,4.2
36,Oregon,0.518139,0.453815,0.412550,0.357276,0.311870,0.335751,0.332424,0.346647,10.6,9.5,8.8,7.9,6.8,5.6,4.8,4.1
37,Pennsylvania,0.115090,0.119235,0.116035,0.118495,0.120177,0.120669,0.119986,0.110535,8.5,7.9,7.8,7.4,5.9,5.3,5.4,4.9
38,Rhode Island,0.121357,0.101522,0.121334,0.131597,0.112983,0.105442,0.110006,0.111728,11.2,11.0,10.4,9.3,7.7,6.0,5.2,4.4
39,South Carolina,0.099148,0.111301,0.106147,0.139841,0.106975,0.112065,0.104476,0.080025,11.2,10.6,9.2,7.6,6.5,6.0,5.0,4.3
40,South Dakota,0.091436,0.102266,0.105286,0.132574,0.106025,0.122867,0.125961,0.110235,5.0,4.7,4.3,3.8,3.4,3.1,3.0,3.2
41,Tennessee,0.164812,0.144697,0.148366,0.148819,0.145938,0.140362,0.134071,0.125944,9.7,9.0,7.8,7.8,6.6,5.6,4.7,3.8
42,Texas,0.144460,0.148990,0.135079,0.115506,0.109210,0.089221,0.085775,0.085880,8.1,7.8,6.7,6.3,5.1,4.4,4.6,4.3
43,Utah,0.123587,0.115269,0.127502,0.116467,0.107798,0.104189,0.095203,0.095259,7.8,6.7,5.4,4.6,3.8,3.6,3.4,3.3
44,Vermont,0.195432,0.183052,0.185452,0.232304,0.248899,0.243056,0.178364,0.196114,6.1,5.5,5.0,4.4,3.9,3.6,3.2,3.0
45,Virginia,0.115790,0.111226,0.105104,0.094128,0.085765,0.084792,0.075424,0.072520,7.1,6.6,6.1,5.7,5.2,4.5,4.1,3.7
46,Washington,0.348681,0.307222,0.304272,0.260427,0.267309,0.277992,0.294452,0.294450,10.0,9.3,8.1,7.0,6.1,5.6,5.3,4.7
47,West Virginia,0.122990,0.119748,0.130236,0.120845,0.108583,0.099113,0.075132,0.071264,8.7,8.1,7.5,6.8,6.6,6.7,6.1,5.2
48,Wisconsin,0.112328,0.102120,0.105974,0.106959,0.105770,0.105484,0.098787,0.087226,8.7,7.8,7.0,6.7,5.4,4.6,4.0,3.3
49,Wyoming,0.106126,0.187129,0.322138,0.167154,0.131595,0.137662,0.146991,0.149691,6.4,5.8,5.3,4.7,4.1,4.3,5.3,4.2

In [133]:
employment_vs_homeless.to_csv("dataframes/Unemployment_vs_Homelessness.csv", header=True)